<!-- <div class="navbar">
    <h2>Download our app</h2>
</div> -->
<div class="" [ngClass]="navbar === true ? 'nav' : 'navbarMenu'">
    
    <div class="navbarMenu__logo">
        <img src="./assets/img/fondoComida.jpg" alt="">
    </div>

    <!-- <div class="navbarMenu_menuContenedor">
        <button mat-button [matMenuTriggerFor]="menu" class="navbarMenu_menu">Menu</button>
        <mat-menu #menu="matMenu" class="matMenu">
        <button mat-menu-item>MAIN DISHES</button>
        <button mat-menu-item>DESSERTS</button>
        <button mat-menu-item>DRINKS</button>
        </mat-menu>
    </div> -->
    
    <div class="navbarMenu__items"> 
        <ul>
            <li><a (click)="redireccionHome()">{{'NAVBAR_NAVIGATE' | translate}}</a></li>
            <!-- <li><a href="">DESSERTS</a></li>
            <li><a href="">DRINKS</a></li> -->
        </ul>
    </div>

    <div class="navbarMenu__btn">
        <button type="button" class="" (click)="redireccionLogin()">{{botonAccion}}</button>
    </div>

</div>