@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(122, 45, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.navbarMenu {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* backdrop-filter: blur(20px); */
}

.navbarMenu__logo {
    height: 60px;
    width: 150px;
    margin-left: 2rem;
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.navbarMenu__logo img {
    height: 60px;
    width: 60px;
    border-radius: 45px;

}

.navbarMenu__items {
  /* margin-right: 2rem; */
  /* background-color: aquamarine; */
}

.navbarMenu__items ul{
    display: flex;
    column-gap: 6rem;
}

.navbarMenu__items ul li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: bolder;
}

.navbarMenu__items ul li a{
    color: black;
    text-decoration: none;
}

.navbarMenu__btn {
  /* background-color: antiquewhite; */
}

.navbarMenu__btn button{
    height: 2.5rem;
    width: 10rem;
    margin-right: 2rem;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 45px;
    background-color: rgb(255, 208, 0);
    cursor: pointer;
}

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem;
}

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}


/* COM hamburguesa */

.navbarMenu_menu {
  border: none;
  background: none;
  border-radius: none;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 10%;
}

.navbarMenu_menuContenedor {
  width: 100%;
}

.matMenu {
  padding-left: 65%;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }

  .navbarMenu_menuContenedor {
    position: relative;
    left: 400px;
  }
}


.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

@media (max-width: 880px) {
 .navbarMenu__items ul li{
    font-size: 1.2  rem;
 }

 .navbarMenu__items ul{
    column-gap: 3rem;
}

.navbarMenu__btn button{
    width: 7rem;
}

.navbar{
  visibility: hidden;
}

.navbarMenu {
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
}


@media (max-width: 691px) {

  .navbarMenu__items {
    /* visibility: hidden; */
 
  }

  .navbarMenu__items ul {
    /* visibility: hidden; */
    display: block;
  }

  .navbarMenu__logo {
    width: auto;
  }

}



/* MI CELULAR */
/* @media (max-width: 691px) {

  .navbarMenu {
    background-color: #234567;
    width: 100%;
  }

  .navbarMenu__items ul {
    
    display: block;
  
  }
} */
}