<div class="login">

    <pre>{{formulario.getRawValue() | json}}</pre>

    <form class="login_form" [formGroup]="formulario" (ngSubmit)="loginUser()">

        <h2>LOGIN</h2>
        <input  placeholder="Usuario" class="login__formInput" formControlName="usuario">
        <input type="text" placeholder="Contraseña" class="login__formInput" formControlName="contasena">
        <button class="login__formButton">Sing in</button>
        <a href="" class="login__formForget">Forget password?</a>

    </form>

    <div class="login_side">

        <img src="../../../../../assets/img/fondoComida.jpg">

    </div>
</div>
