@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.containerLoginRegister {
    /* background-color: antiquewhite; */
    background-color: #414141;
    height: 100vh;
    width: 100%;
    position: absolute;
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.card__module {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow:  5px 5px 10px gray;
}


.table_icon {
    height: 1.8rem;
    width: 1.8rem;
}

.table_button {
    background: none;
    border: 0;
    color: inherit;
    margin: 0 3px;
    cursor: pointer;
}

.container_body {
    width: 80%;
    margin: 2rem auto;
}

.labelInput {
    display: flex;
    flex-direction: column;
}

.labelInput input {
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.1rem 1rem;
    background-color: rgba(165, 42, 42, 0.23);
    box-shadow: 5px 5px 5px gray;
    border-radius: 45px;
    font-size: 1rem;
    font-weight: bold;
}

.labelInput label {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.botton {
    height: 2.5rem;
    width: 12rem;
    border: none;
    margin: 0 0.5rem;
    border-radius: 45px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn_limpiar {
    color: brown;
    background-color: white;
    border: 3px solid brown;
}

.btn_guardar {
    color: white;
    background-color: brown;
}