<div class="container__module">
  <div class="reservas__header">
    <h1>reserva</h1>
  </div>

  <div class="card__module">
    <form action="" class="card__from">
      <div class="container__form">
        <div class="labelInput">
          <label>Nombre</label>
          <input type="text" />
        </div>
        <div class="labelInput">
          <label>Telefono</label>
          <input type="text" />
        </div>
        <div class="labelInput">
          <label>Fecha</label>
          <input type="text" />
        </div>
        <div class="labelInput">
          <label>Hora</label>
          <input type="text" />
        </div>
        <div class="labelInput">
          <label>Lugar</label>
          <input type="text" />
        </div>
      </div>

      <div class="form__botton">
          <button class="botton btn_limpiar">Limpiar</button>
          <button class="botton btn_guardar">Guardar</button>
      </div>
    </form>
  </div>
</div>
