.card__from {
    width: 100%;
}

.container__form {
    /* background-color: rgba(71, 178, 255, 0.401); */
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    margin: 2rem;
    width: auto;
}

.form__botton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}