<div class="container__module">
  <!-- <pre>{{formulario.getRawValue() | json}}</pre> -->
  <div class="card__module">

    <form action="" class="card__from" [formGroup]="formulario" (ngSubmit)="crearUsuario()">
        <div class="container__form">
          <div class="labelInput">
            <label>{{ 'REGISTER_NAME' | translate }}</label>
            <input type="text" formControlName="nombre" />
          </div>
          <div class="labelInput">
            <label>{{ 'REGISTER_ID' | translate }}</label>
            <input type="text" formControlName="cedula" />
          </div>
          <div class="labelInput">
            <label>{{ 'REGISTER_PHONE' | translate }}</label>
            <input type="text" formControlName="telefono"/>
          </div>
          <div class="labelInput">
            <label>{{ 'REGISTER_EMAIL' | translate }}</label>
            <input type="text" formControlName="correo"/>
          </div>
          <div class="labelInput">
            <label>{{ 'REGISTER_CONTRASENA' | translate }}</label>
            <input type="text" formControlName="contrasena"/>
          </div>
        </div>
  
        <div class="form__botton">
            <button type="button" class="botton btn_limpiar" (click)="limpiarFormulario()">Limpiar</button>
            <button class="botton btn_guardar">Guardar</button>
        </div>
      </form>

  </div>
</div>
