.login {
    background-color: white;
    width: 80%;
    height: 60%;
    margin: 4rem auto;
    border-radius: 10px;
}

.login__form {
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;

}